root = true

# Arquivos
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Arquivos C#
[*.cs]
indent_style = tab
indent_size = 4

# Arquivos de projeto
[*.csproj]
indent_style = space
indent_size = 2

[*.sln]
indent_style = space
indent_size = 2

# Arquivos JSON
[*.json]
indent_style = space
indent_size = 2

